<%- include('partials/header') %>
<p class="text-primary dark:text-primaryDark text-center text-6xl mt-8 transition-colors">About</p>
<div class="hasSpans my-8 w-3/4 min-w-[300px] mx-auto text-textSecondary dark:text-textSecondaryDark transition-colors">
    <p>Hi, I'm <span class="text-2xl">Elliot Topper.</span> I'm a sophomore computer science major at The College of New Jersey. I am also pursuing a minor in Interactive Multimedia.</p>
    <br>
    <p>My main interests lie in <span>web development</span>, <span>app development</span>, <span>programming languages</span>, and <span>Human-Computer Interaction</span>, as well as the <span>evolution of tech</span>.</p>
    <br>
    <p>I also love learning new languages and frameworks and take pride in my ability to learn and implement them quickly. Some languages I have accrued proficiency in are:</p>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 p-8 text-center">
        <p>Java</p>
        <p>JavaScript</p>
        <p>Python</p>
        <p>C++</p>
        <p>PHP</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>TypeScript</p>
        <p>Node.JS</p>
        <p>Express.JS</p>
        <p>jQuery</p>
        <p>TailwindCSS</p>
        <p>Bootstrap</p>
        <p>EJS</p>
        <p>MySQL</p>
        <p>Dart/Flutter</p>
    </div>
    <p>I am constantly learning new frameworks and languages, as well.</p>
    <p>For more information on how I've implemented some of these languages into projects, check out the <a href="/projects" class="font-semibold text-blue-500 transition-colors">Projects Page</a>.</p>
</div>

<%- include('partials/footer') %>